#total torrent number 
2

#total all download number 
1

#start for each torrent status

##staus 1 means that torrent complete 0 means not
#name 		status	torrent_location	file_location			 size_pieces_number	finished_piece_number		
raw_file.avi.torrent		1		./torrents	./download_files	 6			6
##assum raw_file.avi is 6 pieces
#download_finished_number, NOTICE this a new line
1 2 3 4 5 6 

##start another example

unfinsihed.txt.torrent	0	./torrents	/dowload_files		8		3
1 4 5
